/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* common thing styling */

body {
    font-family: 'Poppins', sans-serif;
}

.hover-bg-dark:hover {
    background-color: black;
    color: white!important;
}

.hover-big:hover {
    transform: scale(1.05);
    transition: transform 1s ease;
}

.container h1.h1-before::before {
    display: block;
    font-size: 20px;
    color: #999999;
}


/* home part */

#home {
    background-image: url("../images/bg/home.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 993px) {
    #home h1 {
        font-size: 65px;
    }
}

@media only screen and (max-width: 992px) {
    #home h1 {
        font-size: 45px;
    }
}

#home .btn-orange {
    background-color: orange;
}

#home .text-lightred {
    color: #E06951;
}


/* home section ends */


/* services section starts */

#services .container h1.h1-before::before {
    content: "Category";
}


/* services section ends */


/* destination section starts */

#destination {
    background-image: url(../images/bg/services.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#destination .container h1.h1-before::before {
    content: "Top selling";
}


/* destination section ends */


/* steps section starts */

#steps .container h1.h1-before::before {
    content: "Easy and fast";
}

.icon {
    width: 40px;
    height: 40px;
}


/* steps section ends */